<div class="p-6 max-w-lg mx-auto bg-white border border-1 border-gray-200 shadow-md rounded-lg mt-6">
  <h2 class="text-xl font-semibold text-gray-600 mb-4">Nova Categoria</h2>

  <hr class="mb-2" />

  <form id="categoriaForm" [formGroup]="camposForm" (ngSubmit)="salvar()">
    <div class="mb-4">
      <label class="block text-gray-500 font-medium mb-2">Nome</label>

      <input type="text" id="nome" name="nome" formControlName="nome" placeholder="Ex: Restaurantes, Praias, Shopping"
        required
        class="w-full p-3 border border-gray-300 rounded shadow-sm focus:outline-none focus:ring focus:ring-blue-400" />

      <span class="text-red-400 text-xs" *ngIf="campoInvalido('nome')">Campo obrigatório!</span>
    </div>

    <div class="mb-4">
      <label class="block text-gray-500 font-medium mb-2">Descrição</label>

      <textarea id="descricao" name="descricao" formControlName="descricao" rows=4 required
        class="w-full p-3 border border-gray-300 rounded shadow-sm focus:outline-none focus:ring focus:ring-blue-400 resize-none"></textarea>
      <span class="text-red-400 text-xs" *ngIf="campoInvalido('descricao')">Campo obrigatório!</span>
    </div>

    <button type="submit"
      class="w-full bg-blue-600 text-white font-semibold p-3 rounded shadow-md hover:bg-blue-500">Cadastrar
      Categoria</button>
  </form>
</div>
